
# Ignore all files with supported image extensions
*.png
*.jpg
.env

# Ignore leaflet main directory
leaflets/*

# Classic ignores
__pycache__/*
.idea

# Specific due to exploration of possibilites
approved.txt
failed.txt
